In [207]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd

style.use('ggplot')

df = pd.read_csv('Automatic_Hourly_Pedestrian_Count.csv')
#check the top
df.head(5)

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [208]:
# check to tail end
df.tail(5)

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
99630,A002,Elizabeth Street,2020/03/01 17:00:00+00,2020/03/01 00:00:00+00,525,17,Sunday,0,2020.1,826.0,NaN,99631,NaN,NaN
99631,A001,Bridge Street,2020/03/01 17:00:00+00,2020/03/01 00:00:00+00,126,17,Sunday,0,2020.1,464.0,NaN,99632,NaN,NaN
99632,A004,Park Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,2595,16,Sunday,0,2020.1,2934.0,NaN,99633,NaN,NaN
99633,A003,Market Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,1479,16,Sunday,0,2020.1,1751.0,NaN,99634,NaN,NaN
99634,A002,Elizabeth Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,663,16,Sunday,0,2020.1,716.0,NaN,99635,NaN,NaN

In [209]:
# remove duplicates get shape is 13 columns wtih 99635 entires

df.drop_duplicates()

df.head()

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [210]:
# get data shape or how it looks has 99635 and 14 columns
df.shape

(99635, 14)

In [211]:
# make all columns lower case
df.columns = [col.lower() for col in df]
# get the locations in a array
locationCodes = df.location_code.unique()
# reverse list 
locationCodes = locationCodes[::-1]
df.head()
# can see that all the columns are now lower case

,location_code,location_name,date,shortdate,totalcount,hour,day,dayno,week,lastweek,previous4daytimeavg,objectid,lastyear,previous52daytimeavg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [216]:
# set index by object id
df.set_index('objectid',inplace=True)
df.head()

,location_code,location_name,date,shortdate,totalcount,hour,day,dayno,week,lastweek,previous4daytimeavg,lastyear,previous52daytimeavg
objectid,,,,,,,,,,,,,
1,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,2090.0,1572.0
2,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,1947.0,1775.0
3,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,776.0,459.0
4,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,529.0,494.0
5,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,2678.0,2267.0

In [213]:
# we are gonn plot by location code so gonna make a new df and set by locaiton code.

locationdf = df.set_index('location_code')
locationdf.head()

,location_name,date,shortdate,totalcount,hour,day,dayno,week,lastweek,previous4daytimeavg,objectid,lastyear,previous52daytimeavg
location_code,,,,,,,,,,,,,
A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [217]:
#Create a function that does a dictonary comprehension to make a dictionary
def SplitDfbyLocation(df,locationCode):
	splitItems = {locations: df.loc[locations] for locations in locationCode}
	# for locations in locationCode:
	# 	splitItems[locations] = df.loc[locations]
	# print(df)
	return splitItems

splitdf =SplitDfbyLocation(locationdf,locationCodes)

,location_name,date,shortdate,totalcount,hour,day,dayno,week,lastweek,previous4daytimeavg,objectid,lastyear,previous52daytimeavg
location_code,,,,,,,,,,,,,
A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
A001,Bridge Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,1369,17,Tuesday,2,2022.51,1478.0,1378.0,8,849.0,804.0
A001,Bridge Street,2022/12/13 16:00:00+00,2022/12/13 00:00:00+00,861,16,Tuesday,2,2022.51,932.0,878.0,12,553.0,498.0
A001,Bridge Street,2022/12/13 15:00:00+00,2022/12/13 00:00:00+00,765,15,Tuesday,2,2022.51,759.0,746.0,16,564.0,411.0
A001,Bridge Street,2022/12/13 14:00:00+00,2022/12/13 00:00:00+00,834,14,Tuesday,2,2022.51,786.0,774.0,20,537.0,471.0