In [65]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd

style.use('ggplot')

df = pd.read_csv('Automatic_Hourly_Pedestrian_Count.csv')
#check the top
df.head(5)

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [66]:
# check to tail end
df.tail(5)

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
99630,A002,Elizabeth Street,2020/03/01 17:00:00+00,2020/03/01 00:00:00+00,525,17,Sunday,0,2020.1,826.0,NaN,99631,NaN,NaN
99631,A001,Bridge Street,2020/03/01 17:00:00+00,2020/03/01 00:00:00+00,126,17,Sunday,0,2020.1,464.0,NaN,99632,NaN,NaN
99632,A004,Park Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,2595,16,Sunday,0,2020.1,2934.0,NaN,99633,NaN,NaN
99633,A003,Market Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,1479,16,Sunday,0,2020.1,1751.0,NaN,99634,NaN,NaN
99634,A002,Elizabeth Street,2020/03/01 16:00:00+00,2020/03/01 00:00:00+00,663,16,Sunday,0,2020.1,716.0,NaN,99635,NaN,NaN

In [67]:
# remove duplicates get shape is 13 columns wtih 99635 entires

df.drop_duplicates()

df.head()

,Location_code,Location_Name,Date,ShortDate,TotalCount,Hour,Day,DayNo,Week,LastWeek,Previous4DayTimeAvg,ObjectId,LastYear,Previous52DayTimeAvg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [68]:
# get data shape or how it looks has 99635 and 14 columns
df.shape

(99635, 14)

In [69]:
# make all columns lower case
df.columns = [col.lower() for col in df]
# get the locations in a array
location_codes = df['location_code'].unique()
# reverse list 
location_codes = location_codes[::-1]
df.head()
# can see that all the columns are now lower case

,location_code,location_name,date,shortdate,totalcount,hour,day,dayno,week,lastweek,previous4daytimeavg,objectid,lastyear,previous52daytimeavg
0,A004,Park Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2959,18,Tuesday,2,2022.51,2882.0,2690.0,1,2090.0,1572.0
1,A003,Market Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,2462,18,Tuesday,2,2022.51,2425.0,2410.0,2,1947.0,1775.0
2,A002,Elizabeth Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,814,18,Tuesday,2,2022.51,778.0,744.0,3,776.0,459.0
3,A001,Bridge Street,2022/12/13 18:00:00+00,2022/12/13 00:00:00+00,782,18,Tuesday,2,2022.51,911.0,828.0,4,529.0,494.0
4,A004,Park Street,2022/12/13 17:00:00+00,2022/12/13 00:00:00+00,4182,17,Tuesday,2,2022.51,4260.0,3855.0,5,2678.0,2267.0

In [70]:
# set index by object id
df.set_index('objectid',inplace=True)

In [71]:
# get a list of dates, use the shortdate as the normal date has hour on it as well

date_list = df.shortdate.unique()
print(len(date_list))

# we now know there is 1039 dates

1039

In [72]:
# We are only interested in shortdate and totalcount and location codes

count_date_location_df = df[['shortdate', 'totalcount', 'location_code']].copy()



count_date_location_df.head

<bound method NDFrame.head of                         totalcount location_code
shortdate
2022/12/13 00:00:00+00        2959          A004
2022/12/13 00:00:00+00        2462          A003
2022/12/13 00:00:00+00         814          A002
2022/12/13 00:00:00+00         782          A001
2022/12/13 00:00:00+00        4182          A004
...                            ...           ...
2020/03/01 00:00:00+00         525          A002
2020/03/01 00:00:00+00         126          A001
2020/03/01 00:00:00+00        2595          A004
2020/03/01 00:00:00+00        1479          A003
2020/03/01 00:00:00+00         663          A002

[99635 rows x 2 columns]>

In [73]:
def get_total_counts_each_date(df,dates,location):
    list_of_dates = { location: df.shortdate for location in df.location_code} 
    return(list_of_dates)

test_df = get_total_counts_each_date(count_date_location_df,date_list,location_codes)
test_df

AttributeError: 'DataFrame' object has no attribute 'shortdate'